#top-contents {
    width: 100%;
    height: 100%;
}
/*-------------------Sub Title--------------------*/
.subtitle {
    width: 100%;
    height: 56px;
    background-position: center;
}
#cob .subtitle {
    background-image: url("../images/subtitle/cob.png");
}
#culture .subtitle {
    background-image: url("../images/subtitle/culture.png");
}
#message .subtitle {
    background-image: url("../images/subtitle/message.png");
}
/*--------------------Message---------------------*/

#message {
    width: 100%;
}
#message .images {
    height: 28px;
    text-align: center;
    margin: 1% auto 0 auto;
}
#message .images img {
    height: 28px;
}
#message p {
    font-family: 'Noto Sans Japanese', sans-serif !important;
    font-size: calc(45% + 0.5vw);
    text-align: center;
    margin-top: 1%;
}
.adjust-box {
    width: 90%;
    margin: 0 auto;
}
/*--------------Contents Of Business--------------*/
#cob {
    width: 100%;
    margin-top: 1%;
}
.businesstitle {
    text-align: center;
}
.businesstitle > img {
    
}
#branding {
    width: 90%;
    margin: 3% auto 0 auto;
}
#inbound {
    width: 90%;
    margin: 3% auto 0 auto;
}
#innovation {
    width: 90%;
    margin: 3% auto 0 auto;
}
#cob h2 {
    font-family: 'Noto Sans Japanese', sans-serif !important;
    font-size: calc(112.5% + 4 * (100vw - 1000px) / 400);
    text-align: center;
}
#cob p {
    font-family: 'Noto Sans Japanese', sans-serif !important;
    font-size: calc(45% + 0.5vw);
    text-align: center;
    margin-top: 2%;
}
#branding h2 {
    color: #efb133 !important;
}
#inbound h2 {
    color: #0065b2 !important;
}
#innovation h2 {
    color: #2ba464 !important;
}
.solution {
    margin: 2% auto 0 auto;
    text-align: center;
    position: relative;
    height: 60px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.solution a {
    display: block;
    position: absolute;
    line-height: 60px;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    color: #000;
    font-family: 'Noto Sans Japanese', sans-serif !important;
    font-size: calc(60% + 0.5vw);
}
#branding .solution {
    background-image: url("/images/cob/solution/branding.png");
}
#inbound .solution {
    background-image: url("/images/cob/solution/inbound.png");
}
#innovation .solution {
    background-image: url("/images/cob/solution/innovation.png");
}
.st-content {
    position: relative;
    width: 100%;
}
#cob .images {
    position: absolute;
    top: 60px;
    width: 100%;
}
#cob .images img {
    width: 24%;
}
/*--------------------Culture---------------------*/
#culture {
    width: 100%;
    margin-top: 3%;
}
#culture .images {
    width: 100%;
    text-align: center;
    margin-top: 2%;
}
#culture .images img {
    width: 12.2%;
}
